<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.headlineNews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.headlineNews.application.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.headlineNews.activity.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.headlineNews.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.headlineNews.activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name="com.headlineNews.activity.SearchActivity" >
        </activity>
        <activity
            android:name="com.headlineNews.activity.CollectionActivity"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name="com.headlineNews.activity.NoticeActivity"
            android:label="@string/title_activity_notice" >
        </activity>
        <activity android:name="com.headlineNews.activity.CampaignActivity" >
        </activity>
    </application>

</manifest>
